# Core dependencies
fitz
pytesseract
Pillow
chromadb
langchain-huggingface
langchain-text-splitters
torch

# Optional / future
# langchain
# langchain-community
# sentence-transformers
# cohere
# flask / fastapi
# uvicorn